doctype html
head
  //- Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  //- Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  link(rel='icon' href='https://www.flaticon.com/svg/static/icons/svg/3507/3507102.svg' type='image/x-icon')
  //- Title of the tab
  title #{otherUser.username}'s Followers
body
    header
        include ../partials/navBar
    .container.body_content
        .d-flex.flex-row
            .col
                h5 #{otherUser.username}'s Followers
            .col-xs.justify-content-end.align-items-end.mr-3
                h5#pageNum Page #{pageNum} of #{totalPages}
        br
        ul.list-group
            each follower in followerList
                a(href="/users/"+follower.id)
                    li.list-group-item #{follower.username}
        .d-flex.flex-row.mt-3
            .col
                if(prev)
                    button#previous.btn.btn-outline-primary(type='submit') Previous
                else
                    button#previous.btn.btn-outline-primary(type='submit' disabled) Previous
            .col-xs
                if(next)
                    button#next.btn.btn-outline-primary.mr-3.justify-content-end(type='submit') Next
                else
                    button#next.btn.btn-outline-primary.mr-3.justify-content-end(type='submit' disabled) Next
script(src='/js/followers.js')