doctype html
head
  //- Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //- Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  link(rel='icon' href='https://www.flaticon.com/svg/static/icons/svg/3507/3507102.svg' type='image/x-icon')
title Search Result
body
    header
        include ../partials/navBar
    main.block.container
      div
        h4 Search Movie in IMDB
      br
      .d-flex.flex-row.justify-content-center
        label.ml-2 Enter Movie Title:
        textarea#movieTitle.ml-2.mr-2(name='movieTitle' type='text' rows='1' cols='25')
        button#searchIMDB.btn.btn-outline-primary.ml-4.mr-4(type='submit') Search on IMDB
      hr(style='border-width: 2px;')
      #searchResults.container.mt-4
        if movie == "No result"
          p#wait Request timed out, please try again!
        else if movie && movie != "No Result"
          .row.flex-wrap.mb-4.justify-content-center
              img.user-img(src=movie.poster)
          .row.flex-wrap.mb-4.justify-content-center
            .col.ml-4.align-self-center
              h4 #{movie.title}
              br
              p Synopsis: #{movie.synopsis}
              br
              p IMDB Rating: #{movie.rating}
              br
              if(movie.director)
                p Directors:
                each person in movie.director
                  p #{person},
              if(movie.actors)
                p Actors:
                each person in movie.actors
                  p #{person},
              if(movie.writers)
                p Writers:
                each person in movie.writers
                  p #{person},
          a(href=movie.url target='_blank')
            button.btn.btn-outline-primary(type='submit') View the movie on IMDB
        else if movie == undefined
          p#wait Result will show here


script(src='/js/searchIMDB.js')
