//- SCRIPT REMAINING
doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet" type="text/css" href="/css/style.css")
  link(rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/3507/3507102.svg" type="image/x-icon")
title #{movie.title}
body
  header
    include ../partials/navBar
  .container.body_content
    div
      h4 #{movie.title}
      if(movie.releaseYear)
        | (#{movie.releaseYear})
        //-small(style="font-size: 16px; font-style:italic;" class="text-secondary ml-2") PG-13
    if(movie.poster)
      div(class="row flex-wrap poster container")
        div(class="col-xs-4 cp-1 mr-5")
          div(class="card card-block")
            img(class="poster-img" src=movie.poster)
        if(movie.trailer)
          div(class="col-xs-4 cp-1")
            div(class="card card-block")
              iframe(width="600" height="400" style="border: 1.5px white solid;" src=movie.trailer)
    div(class="details")
      ul(style="list-style-type:none; padding-left: 4px;")
        ul(style="list-style-type:none; padding-left: 4px;")
          li(style="padding-top: 0;")
            em Runtime: #{movie.runtime}
          li
            em Synopsis:
              span(class="mb-0.5")
                br
                |#{movie.plot}
          if !(movie.genre === undefined || movie.genre.length === 0)
            li
              em Genre:
                each genre in movie.genre
                  a(class="active ml-1" href="/movies?title=&genre="+genre) #{genre},
          if !(actorList === undefined || actorList.length === 0)
            li
              em Actors:
                each actor in actorList
                  if (actor === "N/A" || actor === null)
                    em N/A
                  else
                    a(class="active ml-1" href="/people/"+actor.id)  #{actor.name},
          if !(directorList === undefined || directorList.length === 0)
            li
              em Director:
                each director in directorList
                  if (director === "N/A" || director === null)
                    em N/A
                  else
                    a(class="active ml-1" href="/people/"+director.id)  #{director.name},
          if !(writerList === undefined || writerList.length === 0)
            li
              em Writer:
                each writer in writerList
                  if (writer === "N/A" || writer === null)
                    em N/A
                  else
                    a(class="active ml-1" href="/people/"+writer.id)  #{writer.name},
    div(class="container scrolling similar_movies")
      h4 Similar Movies
      div(class="row flex-nowrap")
        each similarMovie in similarMovies
          div(class="col-xs-4 cp-1")
            div(class="card card-block")
              a(href="/movies/"+similarMovie.id)
                img(src=similarMovie.poster class = "slider-img")
    div(class="review")
      h6(style="padding-top: 20px; padding-left: 4px;") Average Rating: #{movie.averageRating}
      h6(style="padding-top: 20px; padding-left: 4px;") Add basic rating:
        input#basicRating.ml-2(type='number' min='0' max='10')
        if(user)
          button#basicReview.ml-2(type="submit" class="btn btn-outline-primary") Submit
        else
          button#basicReview.ml-2(type="submit" class="btn btn-outline-primary" disabled='') Submit
      h6.ml-2(style="padding-top: 20px;") Add review:
      div.ml-2
        label Add rating: 
        input#fullRating.ml-2(type='number' min='0' max='10')
        br
        br
        textarea(id="movieReviewTitle" name="movieReviewTitle" rows="1" cols="50" placeholder="Review Title")
        br
        textarea(id="movieReview" name="movieReview" rows="4" cols="50" placeholder="Review Content")
        br
        if(user)
          button(type="submit" class="btn btn-outline-primary" id="submitReview") Submit
        else
          button(type="submit" class="btn btn-outline-primary" id="submitReview" disabled='') Submit
    div(class = "container reviews mt-4" id="reviews")
      h5 Reviews
      ul(class="list-group")
        each review in reviewList
          a(href="/reviews/"+review.id)
            li(class="list-group-item")
              b #{review.title}
              br
              p #{review.content}
    br
    //-if(user)
    a(href="/movies/"+movie.id+"/edit")
      button#editMovie.btn.btn-outline-primary.mt-2.mr-0.ml-auto(type='submit') Edit Movie
script(src='/js/scriptMovie.js')
