doctype html
head
  //- Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //- Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  link(rel='icon' href='https://www.flaticon.com/svg/static/icons/svg/3507/3507102.svg' type='image/x-icon')
title #{user.username}'s Recommended Movies
body
  header
    include ../partials/navBar
  main.block.container
    div
      h4 #{user.username}'s Recommended Movies:
    hr(style='border-width: 2px;')
    .container.mt-4
      ul.list-group
        each movie in movieObjects
          if(movie)
            a(href="/movies/"+movie.id)
              li.list-group-item
                .row.flex-wrap.mb-4
                  .col-xs.cp-1.bg-secondary
                    img.user-img(src=movie.poster)
                  .col.ml-4.align-self-center
                    h4 #{movie.title}
                    br
                    p #{movie.plot}
    hr(style='border-width: 2px;')
    a(href="/users/" + user.id)
      button.btn.btn-outline-primary(type='submit') Go to #{user.username}'s page
